# Ignore images
*.png
*.jpg
*.jpeg
*.gif

# Ignore Salesforce local files
.sf/
.sfdx/
.local/

# Ignore OS files
.DS_Store

**/genAiFunctions/**
**/genAiPlugins/**
**/Issue_Record_Credit/**
**/Customer_Service/**
